@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    background-color:white;
}

.box {
    display: flex;
    height: 450px;
    width: 100%;
    padding: 10% 20% ;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.Html {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #E54C21;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3em 2em 1em 2em;
    margin: 0;
}

.Css {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #30ACE0;
    padding: 3em 2em 1em 2em;
    margin: 0;
}

.Javascript {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #F6DD04;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3em 2em 1em 2em;
    margin: 0;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 30px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.849); 
    line-height: 1.6em;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 1rem 2.5rem;
    margin-top: 5em;
    cursor: pointer;
    transition: all .5s;
}

.Html button {
    color: black;
}

.Html button:hover { /* Quando o usuário passar o mouse por cima do botão a cor será vermelha */
    background-color: hsl(14, 79%, 53%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

.Css button{ /* Cor de fundo */
    color: black;
}

.Css button:hover {
    background-color: #5171fffb;
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

.Javascript button {
 color: black;
}

.Javascript button:hover {
    background-color: #f3f311af;
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

@media (max-width: 675px) { /* Css Responsivo */
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .Html {
        grid-area: 1 / 1 / 2 / 2;
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        padding: 3em 2em 1em 2em ;
    }
    
    .Css {
        grid-area: 2 / 1 / 3 / 2;
        background-color: hsl(184, 100%, 22%);
        padding: 3em 2em 1em 2em;
    }
    
    .Javascript {
        grid-area: 3 / 1 / 4 / 2;
        background-color:  hsl(179, 100%, 13%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
        padding: 3em 2em 1em 2em;
    }
}
